{% extends '/Web/layout.html.twig' %}

{% block meta_description %}Sección Contacto{% endblock %}
{% block title %}Contacto - {% endblock %}


    {% block meta_social %}
        {% set title = 'Contacto - Black Friday Posadas - 2019' %}
        {% set description = 'Sección de contacto Black Frdiday 2019' %}
        {% set url = app.request.uri %}
        {% set image = absolute_url(asset('build/images/blackfriday2019.jpg')) %}

        {# facebook #}
        <meta property="og:url"
              content="{{ url }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="{{ image }}"/>

        {# twitter #}
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@blackfridayposadas"/>
        <meta name="twitter:creator" content="@blackfridayposadas"/>
        <meta property="og:url" content="{{ url }}"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description"
              content="{{ description }}"/>
        <meta property="og:image"
              content="{{ image }}"/>

    {% endblock meta_social %}

{% block stylesheets %}
    <style>

    </style>
{% endblock stylesheets %}

{% block content %}
    <section class="page">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 p-5">
                    <h2 class="display-4">Contacto</h2>


                    <!-- Buttons-->
                    <div class="row text-center">
                        <div class="col-md-3">
                            <a class="btn-floating blue accent-1">
                                <i class="fas fa-map-marker-alt"></i>
                            </a>
                            <p>
                                Tucumán N° 1807 esq. Félix de Azara - (3300)
                            </p>
                            <p class="mb-md-0">Posadas - Misiones - Argentina</p>
                        </div>
                        <div class="col-md-3">
                            <a class="btn-floating blue accent-1">
                                <i class="fas fa-phone"></i>
                            </a>
                            <p>
                                <a href="tel:{{ contacto.contactoTelefono }}">{{ contacto.contactoTelefono }}</a>
                            </p>
                            {#                            <p class="mb-md-0">Mon - Fri, 8:00-22:00</p>#}
                        </div>
                        <div class="col-md-3">
                            <a class="btn-floating blue accent-1">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <p>
                                {% if contacto.contactoWhatsapp %}
                                    <a href="https://wa.me/{{ contacto.contactoWhatsapp }}/?text=Hola%20Blackfriday">{{ contacto.contactoWhatsapp }}</a>
                                {% endif %}
                            </p>
                            {#                            <p class="mb-md-0">Mon - Fri, 8:00-22:00</p>#}
                        </div>
                        <div class="col-md-3">
                            <a class="btn-floating blue accent-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <p>
                                <a href="mailto:camaracomercioccip@gmail.com">camaracomercioccip@gmail.com</a>
                            </p>

                            <p class="mb-0">
                                <a href="mailto:posadasblackfriday@gmail.com@gmail.com">posadasblackfriday@gmail.com@gmail.com</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}