<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="{% block meta_description %}Black Friday Posadas - 2019{% endblock meta_description %}">
    <meta name="author" content="Matias Solis de la Torre, CCIP">

    <meta name="theme-color" content="#D41B20">
    <meta name="msapplication-navbutton-color" content="#D41B20">
    <meta name="apple-mobile-web-app-status-bar-style" content="#D41B20">

    <title>{% block title %}{% endblock title %}Black Friday Posadas 2019</title>

    <!-- Bootstrap core CSS -->
    {#    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    {#    <link href="css/one-page-wonder.min.css" rel="stylesheet">#}
    {{ encore_entry_link_tags('css/web') }}

    <style>
        section.page {
            margin-top: 3rem;
        }

        .logo-menu {
            width: 10rem;
        }
    </style>

    {% block stylesheets %}
    {% endblock stylesheets %}
</head>

<body>

<!-- Navigation -->
{#<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">#}
<nav class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('web') }}">
            <img class="img-fluid logo-menu" src="{{ asset('build/images/ccim-color.png') }}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('easyadmin') }}"><strong>| ADMINISTRADOR |</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('para_comercios') }}">Comercios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('rubros') }}">Rubros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('comercios') }}">Comercios adheridos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% block content %}
{% endblock content %}

<!-- Footer -->
<footer class="py-5 bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 align-self-center">
                {#                <p class="m-0 text-center text-white small">Copyright &copy; Black Friday Posadas 2019</p>#}
                <img class="img-fluid" src="{{ asset('build/images/ccim-color.png') }}">
            </div>
            <div class="col-md-4 align-self-center">
                <img class="img-fluid" src="{{ asset('build/images/misiones-color.png') }}">
            </div>
            <div class="col-md-4 align-self-center">
                <img class="img-fluid w-50" src="{{ asset('build/images/logo-posadas.png') }}">
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->

{{ encore_entry_script_tags('js/web') }}
</body>

</html>
