<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="{% block meta_description %}Black Friday Posadas - 2019{% endblock meta_description %}">
    <meta name="author" content="Matias Solis de la Torre, CCIP">

    <meta name="theme-color" content="#ED3237">
    <meta name="msapplication-navbutton-color" content="#ED3237">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ED3237">

    {% block meta_social %}
        {% set title = 'Black Friday Posadas - 2019' %}
        {% set description = 'Black Friday Posadas - 2019' %}
        {% set url = app.request.uri %}
        {% set image = absolute_url(asset('build/images/blackfriday2019.jpg')) %}

        {# facebook #}
        <meta property="og:url"
              content="{{ url }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="{{ image }}"/>

        {# twitter #}
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@blackfridayposadas"/>
        <meta name="twitter:creator" content="@blackfridayposadas"/>
        <meta property="og:url" content="{{ url }}"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description"
              content="{{ description }}"/>
        <meta property="og:image"
              content="{{ image }}"/>

    {% endblock meta_social %}

    <title>{% block title %}{% endblock title %}Black Friday Posadas 2019</title>

    <!-- Bootstrap core CSS -->
    {#    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    {#    <link href="css/one-page-wonder.min.css" rel="stylesheet">#}
    {{ encore_entry_link_tags('css/web') }}

    <style>
        section.page {
            margin-top: 3rem;
        }

        .logo-menu {
            width: 10rem;
        }

        .social {
            margin-left: 1rem;
        }
        #prefooter{
            /*border-top: 1px solid #373435;*/
            border-top: 1px solid rgba(0,0,0,.125);
            background-color: #FEFEFE;
        }
    </style>

    {% block stylesheets %}
    {% endblock stylesheets %}
    <script src="https://kit.fontawesome.com/b4616f2534.js"></script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    {#<nav class="navbar navbar-expand-lg fixed-top bg-light">#}
    <div class="container">
        <a class="navbar-brand" href="{{ path('web') }}">
            <i class="fas fa-home"></i>
            {#            <img class="img-fluid logo-menu" src="{{ asset('build/images/ccim-color.png') }}" alt="logo">#}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('easyadmin') }}"><strong>| ADMINISTRADOR |</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('para_comercios') }}">Info <br>para Comercios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('comercios') }}">Comercios <br>participantes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('novedades') }}">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('web') }}#galerias">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contacto') }}">Contacto</a>
                </li>
                {{ render(controller(
                    'App\\Controller\\DefaultController::social'
                )) }}
            </ul>
        </div>
    </div>
</nav>


{% block content %}
{% endblock content %}


<section id="prefooter" class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 align-self-center">
                {#                <p class="m-0 text-center text-white small">Copyright &copy; Black Friday Posadas 2019</p>#}
                <a href="www.cciposadas.com.ar" target="_blank">
                    <img class="img-fluid" src="{{ asset('build/images/ccim-color.png') }}">
                </a>
            </div>
            <div class="col-md-4 align-self-center">
                <a href="http://www.misiones.gov.ar/" target="_blank">
                    <img class="img-fluid" width="60%" src="{{ asset('build/images/misiones-color.png') }}">
                </a>
            </div>
            <div class="col-md-4 align-self-center">
                <a href="http://posadas.gob.ar/" target="_blank">
                    <img class="img-fluid" width="35%" src="{{ asset('build/images/logo-posadas.png') }}">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-light">
    <!-- /.container -->
    {{ render(controller('App\\Controller\\DefaultController::footerInfo')) }}
</footer>

<!-- Bootstrap core JavaScript -->

{{ encore_entry_script_tags('js/web') }}
{% block javascripts %}
{% endblock javascripts %}
</body>

</html>
